<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
</head>
<body>
<sidebar class="w-20">
    <div class=" sidebar_container">
        <div class="input-group p-4 ">
            <input type="search" class="form-control border border-secondary " aria-label="Search"
                   placeholder="Search">
            <div class="px-3 p-2 btn_icon_search">
                <i class="bi bi-search"></i>
            </div>
        </div>
        <!-- item menu -->
        <div class="d-flex flex-column justify-content-center w-100">
            <div class="sidebar_menu_item p-3">
                <a class="text-decoration-none" href="./view-content">
                    <i class="bi bi-table"></i>
                    <span>View contents</span>
                </a>
            </div>
            <div class="sidebar_menu_item p-3 gap-2">
                <a class="text-decoration-none" href="./add-content">
                    <i class="bi bi-pencil-square"></i>
                    <span>Form content</span>
                </a>
            </div>
        </div>
    </div>
</sidebar>
</body>
</html>